* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

body {
    background: #eef2f7;
    padding: 20px;
}

.container {
    width: 400px;
    margin: auto;
    text-align: center;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

input, select, textarea {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    color: white;
}

.btn.primary { background: #3498db; }
.btn.success { background: #27ae60; }
.btn.cancel { background: #e74c3c; }
.btn.small { padding: 5px 10px; }

.link {
    color: #3498db;
    display: block;
    margin-top: 10px;
}

/* Dashboard */
.dash-header {
    display: flex;
    justify-content: space-between;
}

.dashboard {
    display: flex;
    gap: 20px;
}

.bin {
    width: 120px;
    height: 180px;
    margin: auto;
    border: 4px solid #333;
    background: #ccc;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#fillLevel {
    width: 100%;
    background: green;
    position: absolute;
    bottom: 0;
    height: 0%;
    transition: 0.6s;
}

.stars {
    font-size: 2rem;
    cursor: pointer;
    color: #ccc;
}

#commentList li {
    list-style: none;
    background: #f0f0f0;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
}
